html {
	font-size: 14px;
	line-height: 1.5em;
	display: block;
	width: 100%;
	background: #359cdc;
	background: -moz-linear-gradient(left, #359cdc 0%, #e45a3f 100%);
	background: -webkit-linear-gradient(left, #359cdc 0%,#e45a3f 100%);
	background: linear-gradient(to right, #359cdc 0%,#e45a3f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#359cdc', endColorstr='#e45a3f',GradientType=1 );
}
body {
	background: #359cdc;
	display: block;
	margin: 0.5em;
	padding: 1.4em;
	background: #fff;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	color: #359cdc;
	margin-right: 0.5em;
}
a:before {
	content: "✱ ";
}
a:hover {
	color: #000;
}
html[lang="ja"] {
	writing-mode: vertical-rl;
}
