//- jade/sample1/index.jade
doctype html
html
  //- ここで _header.jade を呼び出し
  include ./_header.jade
  body
    h1 Try Jade ハンズオン
    p Welcome to my super lame site.
    //- ここで _footer.html を呼び出し
    include ./_footer.html
