doctype html
html(lang="ja")
  head
    title= pageTitle
    link(rel='stylesheet', href='css/common.css')
    script(type="text/javascript",src="js/script.js")
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.